<!doctype html>
<head>
    <title>JBC Home Cellar Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function populate_type_list(){
            jQuery.ajax({
                url: "/get_item_types",
                type: "get",
                success: function(response) {
                    jQuery("#item_type_options").html("")
                    for (i = 0; i < response.item_types.length; i++) {
                        jQuery("#item_type_options").append("<option value=\"" + response.item_types[i].item_type_id + "\">" + response.item_types[i].producer + " " + response.item_types[i].name + "</option>");
                    }
                },
                error: function(response) {
                    console.log("Failed to retrieve /get_item_types:" + response)
                }
            })
        }

        async function get_collection_items(collection_id) {
            var items;

            await jQuery.ajax({
                url:"/get_items",
                type: "get",
                data: {"collection_id": collection_id},
                success: function(response) {
                    items = response.items;
                },
                error: function(response) {
                    console.log("Failed call to /get_items: \n" + response.responseJSON.description);
                }
            });

            return items;
        }

        async function populate_collection_views(collections){
            jQuery("#collection_options").html("")
            jQuery("#current_collections").html("")

            for (collection_index = 0; collection_index < collections.length; collection_index++) {
                current_collection = collections[collection_index];
                jQuery("#current_collections").append("<h1>" + current_collection.name + "</h1>");
                jQuery("#current_collections").append("<table class='center'>");
                current_table = jQuery("#current_collections table:eq(" + collection_index + ")");
                current_table.append("<tr><th>Name</th><th>Amount</th></tr>");
                items_for_collection = await get_collection_items(current_collection.collection_id);
                for (item_index = 0; item_index < items_for_collection.length; item_index++) {
                    current_table.append("<tr><td>" + items_for_collection[item_index].item_id + "</td><td>" + items_for_collection[item_index].quantity + "</td></tr>");
                }
                jQuery("#collection_options").append("<option value=\"" + current_collection.collection_id + "\">" + current_collection.name + "</option>");
            }
        }
        
        function retrieve_collections() {
            var client_id = "58688c37-1aa3-4349-9611-815419ea7662";
        
            jQuery.ajax({
                url: "/get_collections",
                type: "get",
                data: {"client_id": client_id},
                success: function(response) {
                    populate_collection_views(response.collections);
                },
                error: function(response) {
                    recent_err = response
                    console.log("Failed call to /get_collections: \n" + response.responseJSON.description)
                }
            }); 
        }
    </script>
</head>
<body>
    <div id="current_collections">
    </div>
    <br/>
    Name: <input type="text" name="new_item_type_name" id="new_item_type_name"/> Manufacturer: <input type="text" name="new_item_type_producer" id="new_item_type_producer"/> <input type="submit" value="Add Beer" id="add_new_type_button"/><br/>

    Name: <input type="text" name="new_client_name" id="new_client_name"/> Email: <input type="text" name="new_client_email" id="new_client_email"/> <input type="submit" value="Add User" id="add_new_user_button"/><br/>

    Name: <input type="text" name="new_collection_name" id="new_collection_name"/> <input type="submit" value="Add Collection" id="add_collection_button"/><br/>

    <input type="submit" value="Get Collections" id="get_collections_button"/><br/>

    Beer type: 
    <select id="item_type_options" name="item_type_options">
    </select>
    Cellar: 
    <select id="collection_options" name="collection_options">
    </select>
    Amount:
    <input type="text" name="new_inventory_amount" id="new_inventory_amount"/>
    <input type="submit" value="Add Beer to Collection" id="add_to_collection_button"/><br/>
</body>
<script>
    // Populate page elements
    populate_type_list();
    retrieve_collections();
    
    // Register submit for add item button
    jQuery("#add_new_type_button").click(function(){
        var name = jQuery("#new_item_type_name").val();
        var producer = jQuery("#new_item_type_producer").val();
        
        jQuery.ajax({
            url: "/add_new_item_type",
            type: "post",
            data: {"new_item_type_name": name, "new_item_type_producer": producer},
            success: function(response) {
                console.log("Added item type with ID " + response.item_type_id);
                populate_type_list()
            },
            error: function(response) {
                console.log("Failed call to /add_new_item_type: \n" + response.responseJSON.description)
            }
        });
    });

    // Register submit for add user button
    jQuery("#add_new_user_button").click(function(){
        var name = jQuery("#new_client_name").val();
        var producer = jQuery("#new_client_email").val();
        
        jQuery.ajax({
            url: "/add_new_client",
            type: "post",
            data: {"new_client_name": name, "new_client_email": producer},
            success: function(response) {
                console.log("Added new client with ID " + response.client_id);
            },
            error: function(response) {
                recent_err = response
                console.log("Failed call to /add_new_client: \n" + response.responseJSON.description)
            }
        });
    });

    // Register submit for add collection button
    jQuery("#add_collection_button").click(function(){
        var name = jQuery("#new_collection_name").val();
        var client_id = "58688c37-1aa3-4349-9611-815419ea7662";
        
        jQuery.ajax({
            url: "/add_new_collection",
            type: "post",
            data: {"new_collection_name": name, "client_id": client_id},
            success: function(response) {
                console.log("Added new collection with ID " + response.collection_id);
            },
            error: function(response) {
                recent_err = response
                console.log("Failed call to /add_new_collection: \n" + response.responseJSON.description)
            }
        });
    });

    // Register submit for get collection
    jQuery("#get_collections_button").click(function(){
        retrieve_collections()
    });

    // Register submit for add item to collection
    jQuery("#add_to_collection_button").click(function(){
        var item_type_id = jQuery("#item_type_options").val();
        var collection_id = jQuery("#collection_options").val();
        quantity = jQuery("#new_inventory_amount").val()

        jQuery.ajax({
            url: "/add_item_to_collection",
            type: "post",
            data: {
                "collection_id": collection_id, 
                "item_type_id": item_type_id,
                "quantity": quantity,
            },
            success: function(response) {
                console.log("Added new item to collection: " + response.item_id);
                retrieve_collections();
            },
            error: function(response) {
                recent_err = response
                console.log("Failed call to /add_item_to_collection: \n" + response.responseJSON.description)
            }
        });
    });
</script>
