<!doctype html>
<head>
    <title>JBC Home Cellar Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/collections.js') }}"></script>
    <script>
        // Default User ID until we get actual auth going
        var user_id = "58688c37-1aa3-4349-9611-815419ea7662";

        // Initialize page variables
        var cellar_list;
        var item_types;
        
        toggle_div_values = ["+", "-"]
        toggle_div_values_index = 0
        
        async function load_cellar_div(cellar_list, selected_index) {
            if (cellar_list.length > 0) {
                jQuery("#current_cellar_name").html(`<h1>${cellar_list[selected_index].name}</h1>`);
                jQuery(".view_cellar_celect").empty();
                for (cellar_index = 0; cellar_index < cellar_list.length; cellar_index++) {
                    jQuery(".view_cellar_celect")
                        .append(`<option value="${cellar_list[cellar_index].collection_id}">${cellar_list[cellar_index].name}</option>`);
                    jQuery(".add_beer_cellars")
                        .append(`<option value="${cellar_list[cellar_index].collection_id}">${cellar_list[cellar_index].name}</option>`);
                }

                jQuery(".view_cellar_celect").prop("selectedIndex", selected_index);
                retrieve_items(cellar_list[selected_index].collection_id).then(
                    async function success(items) {
                        jQuery("#item_list_div").empty();
                        jQuery("#item_list_div").append("<table class='beers_table center'>");
                        current_table = jQuery("#item_list_div .beers_table");

                        current_table.append("<tr><th>Name</th><th>Brewery</th><th>Count</th></tr>");
                        for (const current_item of items) {
                            item_types_for_item = await retrieve_item_types(current_item.item_type_id);
                            if (item_types_for_item.length > 1) {
                                console.warn(`Found more than one item type for item with ID ${current_item.item_id}`);
                                console.warn(item_types_for_item);
                            }
                            item_type = item_types_for_item[0];
                            current_table.append(`<tr><td>${item_type.name}</td><td>${item_type.producer}</td><td>${current_item.quantity}</td></tr>`);
                        }
                    }
                )
            }
        }
        
        function populate_item_types(item_types) {
            jQuery(".add_beer_types").empty();
            for (const item_type of item_types) {
                jQuery(".add_beer_types").append(
                    `<option value="${item_type.item_type_id}">${item_type.producer} ${item_type.name}</option>`
                );
            }
        }
    </script>
</head>

<body>
    <div id="current_cellar_div">
        <div id="current_cellar_name"></div>
        <div id="cellar_select_div">
            My Cellars: <select id="collection_options" name="collection_options" class="cellar_select view_cellar_celect"></select>
            <input type="button" value="Go" class="view_collection_button button"/>
        </div>
    </div>
    <input type="button" value="+" class="add_button toggle_add_beer_div" />
    <div class="add_beer_div_wrapper" hidden="true">
        <div class="add_beer_div">
            Beer to add: <select class="beer_select add_beer_types"></select><br/>
            Add to cellar: <select class="cellar_select add_beer_cellars"></select><br/>
            <input type="button" value="Add Beer" class="add_beer_button"/>
        </div>
    </div>
    <br/>
    <div id="item_list_div">
    </div>
</body>

<script>
    function handle_collections_results(results) {
        cellar_list = results;
        load_cellar_div(cellar_list, 0);
    }

    function handle_item_types_results(results) {
        item_types = results;
        populate_item_types(item_types);
    }

    // Load the initial view
    retrieve_collections(user_id).then(
        handle_collections_results, null
    );

    retrieve_item_types().then(
        handle_item_types_results, null
    );
    

    // Register retrieve collection view button
    jQuery(".view_collection_button").click(function(){
        load_cellar_div(cellar_list, jQuery(".view_cellar_celect").prop("selectedIndex"));
    });

    // Register behavior for add button
    jQuery(".toggle_add_beer_div").click(function(){
        jQuery(".add_beer_div_wrapper").toggle();
        toggle_div_values_index = (toggle_div_values_index + 1) % toggle_div_values.length;
        jQuery(".toggle_add_beer_div").prop("value", toggle_div_values[toggle_div_values_index]);
    });
</script>