<!doctype html>
<head>
    <title>JBC Home Cellar Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/server_calls.js') }}"></script>
    <script>
        // Default User ID until we get actual auth going
        var user_id = "58688c37-1aa3-4349-9611-815419ea7662";

        // Initialize page variables
        var cellar_list;
        var item_types;

        var new_cellar_select_index = 0;
        const new_cellar_value = "--Add To New Cellar--";
        var added_cellar_label;
        
        toggle_div_values = ["+", "-"]
        toggle_div_values_index = 0
        
        async function load_cellar_div(cellar_list, selected_index) {
            if (cellar_list.length > 0) {
                jQuery(".view_cellar_select, .add_beer_cellars").empty();
                
                for (cellar_index = 0; cellar_index < cellar_list.length; cellar_index++) {
                    option_label = `${cellar_list[cellar_index].name}`
                    // If we've just added a new cellar, jump to it
                    if (added_cellar_label == option_label) {
                        selected_index = cellar_index;
                    }
                    jQuery(".view_cellar_select")
                        .append(`<option value="${cellar_list[cellar_index].collection_id}" label="${option_label}">${option_label}</option>`);
                    jQuery(".add_beer_cellars")
                        .append(`<option value="${cellar_list[cellar_index].collection_id}" label="${option_label}">${option_label}</option>`);
                }
                
                jQuery("#current_cellar_name").html(`<h1>${cellar_list[selected_index].name}</h1>`);


                jQuery(".add_beer_cellars").append(`<option>${new_cellar_value}</option>`);
                new_cellar_select_index = cellar_list.length;

                jQuery(".view_cellar_select, .add_beer_cellars").prop("selectedIndex", selected_index);
                retrieve_items(cellar_list[selected_index].collection_id).then(
                    async function success(items) {
                        jQuery("#item_list_div").empty();
                        jQuery("#item_list_div").append("<table class='beers_table center'>");
                        current_table = jQuery("#item_list_div .beers_table");

                        current_table.append("<tr><th>Name</th><th>Brewery</th><th>Count</th></tr>");
                        for (const current_item of items) {
                            item_types_for_item = await retrieve_item_types(current_item.item_type_id);
                            if (item_types_for_item.length > 1) {
                                console.warn(`Found more than one item type for item with ID ${current_item.item_id}`);
                                console.warn(item_types_for_item);
                            }
                            item_type = item_types_for_item[0];
                            current_table.append(`<tr><td>${item_type.name}</td><td>${item_type.producer}</td><td>${current_item.quantity}</td></tr>`);
                        }
                    }
                )
            }

            // Unset the label to avoid picking this index every time
            added_cellar_label = undefined;
        }
        
        function populate_item_types(item_types) {
            jQuery(".add_beer_types").empty();
            for (const item_type of item_types) {
                jQuery(".add_beer_types").append(
                    `<option value="${item_type.item_type_id}">${item_type.producer} ${item_type.name}</option>`
                );
            }
        }
    </script>
</head>

<body>
    <div id="current_cellar_div">
        <div id="current_cellar_name"></div>
        <div id="cellar_select_div">
            My Cellars: <select id="collection_options" name="collection_options" class="cellar_select view_cellar_select"></select>
            <input type="button" value="Go" class="view_collection_button button"/>
        </div>
    </div>
    <input type="button" value="+" class="add_button toggle_add_beer_div" />
    <div class="add_beer_div_wrapper" hidden="true">
        <div class="add_beer_div">
            <text>Beer to add: </text><select class="beer_select add_beer_types"></select><br/>
            <text>Add to cellar: </text><select class="cellar_select add_beer_cellars"></select><br/>
            <div class="add_cellar_div" hidden="true">
                <text>New Cellar Name: </text><input type="text" class="text_input add_cellar_name"/><br/><br/>
            </div>
            <text>Amount: </text><input type="text" class="amount_input add_beer_amount"/><br/><br/>
            <input type="button" value="Add Beer" class="add_beer_button"/>
        </div>
    </div>
    <br/>
    <div id="item_list_div">
    </div>
</body>

<script>
    function handle_collections_results(results) {
        cellar_list = results;
        load_cellar_div(cellar_list, Math.max(jQuery(".view_cellar_select").prop("selectedIndex"), 0));
    }

    function handle_item_types_results(results) {
        item_types = results;
        populate_item_types(item_types);
    }

    // Load the initial view
    retrieve_collections(user_id).then(
        handle_collections_results, null
    );

    retrieve_item_types().then(
        handle_item_types_results, null
    );
    

    // Register retrieve collection view button
    jQuery(".view_collection_button").click(function(){
        load_cellar_div(cellar_list, jQuery(".view_cellar_select").prop("selectedIndex"));
    });

    // Register behavior for add button
    jQuery(".toggle_add_beer_div").click(function(){
        jQuery(".add_beer_div_wrapper").toggle();
        toggle_div_values_index = (toggle_div_values_index + 1) % toggle_div_values.length;
        jQuery(".toggle_add_beer_div").prop("value", toggle_div_values[toggle_div_values_index]);
    });

    // Register the button to actually make the add_item_to_collection call
    jQuery(".add_beer_button").click(async function(){
        var item_type_id = jQuery(".add_beer_types").val();
        var collection_id = jQuery(".add_beer_cellars").val();
        const amount = jQuery(".add_beer_amount").val();

        if (collection_id == new_cellar_value) {
            const new_cellar_name = jQuery(".add_cellar_name").val();
            new_cellar = await add_collection_for_user(user_id, new_cellar_name);
            collection_id = new_cellar.collection_id;
            added_cellar_label = new_cellar.name;
        }

        // TODO: Handle case of creating new item
        await add_item_to_collection(item_type_id, collection_id, amount);
        retrieve_collections(user_id).then(
            handle_collections_results, null
        );
    });

    // Register the handler for choosing the "new cellar" option from the add list
    jQuery(".add_beer_cellars").change(function (){
        if (jQuery(".add_beer_cellars").prop("selectedIndex") == new_cellar_select_index) {
            jQuery(".add_cellar_div").show();
        }
        else {
            jQuery(".add_cellar_div").hide();
        }
    });
</script>